<!DOCTYPE html>

<head>
    <link rel="stylesheet" href="{{ '/assets/css/homeStyles.css' | relative_url }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no, user-scalable=yes" />
    <title>Blog</title>
    <link rel="icon" type="image/x-icon" href="assets/images/favicon.ico">
    <script>
        function filterPosts (tag) {
            // Show remove filter button
            document.getElementById("remove-filter").removeAttribute("hidden");

            // Make sure tag is visibly selected
            unselectTags();
            tags = document.getElementsByClassName("tag-menu-item");
            for (var i = 0; i < tags.length; i++) {
                if (tags[i].innerHTML == tag) {
                    tags[i].classList.add("selected-tag");
                }
            }

            // Make sure they're all hidden
            liElements = document.getElementsByTagName("li");
            for (var i = 0; i < liElements.length; i++) {
                liElements[i].setAttribute("hidden", "");
            }

            // Remove hidden from posts that have tag
            selectedPosts = document.getElementsByClassName(tag);
            for (var i = 0; i < selectedPosts.length; i++) {
                selectedPosts[i].removeAttribute("hidden");
            }
        }

        function removeFilter () {
            // Make sure no posts are hidden
            liElements = document.getElementsByTagName("li");
            for (var i = 0; i < liElements.length; i++) {
                if (liElements[i].hasAttribute("hidden")) {
                    liElements[i].removeAttribute("hidden");
                }
            }

            // Hide remove filter button
            document.getElementById("remove-filter").setAttribute("hidden", "");

            unselectTags();
        }

        function unselectTags () {
            tags = document.getElementsByClassName("tag-menu-item");
            for (var i = 0; i < tags.length; i++) {
                if (tags[i].classList.contains("selected-tag")) {
                    tags[i].classList.remove("selected-tag");
                }
            }
        }
    </script>
</head>

{% include header.html %}
{% include footer.html %}

<a class="back-button" href="https://liamb09.github.io">&ltrif; Home</a>

<div class="spacer"></div>

<h1 id="section-header">Blog</h1>

<ul id="blog-list">
    <p class="filter-label">Filter by tag: (some of these are random for testing at the moment)</p>
    {% if site.tags.size > 1 %}
        <div id="tag-menu">
            {% for tag in site.tags %}
                <p class="tag-menu-item" onclick="filterPosts('{{ tag[0] }}')">{{ tag[0] }}</p>
            {% endfor %}
            <p id="remove-filter" onclick="removeFilter()" hidden>&#x2715;</p>
        </div>
    {% endif %}
    {% for post in site.posts %}
        <li class='{{ post.tags | join: " " }}'>
            <a href="{{ post.url | relative_url }}"><article id="blog-list-item">
                <div id="blog-list-item-text">
                    <h1>{{ post.title }}</h1>
                    <p>{{ post.date | date: "%B %-d, %Y" }}</p>
                    <div id="blog-list-tags">
                        {% for tag in post.tags %}
                            <p id="post-tag">{{ tag }}</p>
                        {% endfor %}
                    </div>
                    <p>{{ post.description }}</p>
                </div>
                {% if post.image != nil %}
                    <img src="assets/images/{{ post.image }}" alt="post image" id="blog-list-image"/>
                {% endif %}
            </article></a>
        </li>
    {% endfor %}
</ul>