<!DOCTYPE html>

<head>
    <link rel="stylesheet" href="{{ '/assets/css/postStyles.css' | relative_url }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no, user-scalable=yes" />
    <title>{{ page.title }}</title>
    <link rel="icon" type="image/x-icon" href="assets/images/favicon.ico">
</head>

<!-- {% include header.html %}
{% include footer.html %} -->

<a class="back-button" href="/blog/">&ltrif; Blog</a>

<article class="blog-content">
    <div class="spacer"></div>
    <h1 class="blog-title">{{ page.title }}</h1>
    <p class="blog-date">{{ page.date | date: "%B %-d, %Y" }}</p>
    <div id="tags">
        {% for tag in page.tags %}
            <p id="post-tag" class="{{ tag }}">{{ tag }}</p>
        {% endfor %}
    </div>
    <div class="blog-body">
        {{content}}
    </div>
    <div class="author-section">
        <div class="blue-circle"></div>
        <a class="author-name" href="https://liamb09.github.io">Liam Brandyberry</a>
    </div>
</article>

<section class="footer-space"></section>